# patches
*.patch

# objects
*.o
*.a

# binaries
*.x
a.out

# debugging garbage
core
*.dSYM
*.dwarf

# compiler garbage
*.optrpt
*.s

# specific files
ibm_c.c
ibm_f.F
atomics/ping-pong/c11-ping-pong.clang
atomics/ping-pong/c99-omp-ping-pong.clang
atomics/ping-pong/cxx11-dekker.clang
atomics/ping-pong/cxx11-dekker2.clang
atomics/ping-pong/cxx11-ping-pong.clang
atomics/ping-pong/gcc-ping-pong.clang
