# patches
*.patch

# vim
*.swp
*.swo

# objects
*.o
*.a
*.mod

# binaries
*.x
a.out

# debugging garbage
core
*.dSYM
*.dwarf

# compiler garbage
*.optrpt
*.s

# specific files
ibm_c.c
ibm_f.F
atomics/ping-pong/c11-ping-pong.clang
atomics/ping-pong/c99-omp-ping-pong.clang
atomics/ping-pong/cxx11-dekker.clang
atomics/ping-pong/cxx11-dekker2.clang
atomics/ping-pong/cxx11-ping-pong.clang
atomics/ping-pong/gcc-ping-pong.clang
atomics/ping-pong/c11-ping-pong.gcc
atomics/ping-pong/c99-omp-dekker.gcc
atomics/ping-pong/c99-omp-dekker.intel
atomics/ping-pong/c99-omp-ping-pong.gcc
atomics/ping-pong/c99-omp-ping-pong.intel
atomics/ping-pong/cxx11-dekker.gcc
atomics/ping-pong/cxx11-dekker.intel
atomics/ping-pong/cxx11-dekker2.gcc
atomics/ping-pong/cxx11-dekker2.intel
atomics/ping-pong/cxx11-ping-pong.gcc
atomics/ping-pong/cxx11-ping-pong.intel
atomics/ping-pong/gcc-ping-pong.gcc
atomics/ping-pong/gcc-ping-pong.intel
linux/sysctl/cpu_model
opencl/atomic/add
lapack/test_dsygv
lapack/test_dsyev
atomics/min-max/c99-omp-min-max.clang
atomics/min-max/c99-omp-min-max.gcc
atomics/min-max/c99-omp-min-max.intel
atomics/min-max/f90-min-max.gcc
atomics/min-max/f90-min-max.intel
atomics/min-max/gcc-min-max.clang
atomics/min-max/gcc-min-max.gcc
atomics/min-max/gcc-min-max.intel
atomics/ping-pong/c11-ping-pong.intel
posix/threads/interprocess_mutex
posix/threads/interprocess_mutex_mpi
simd/simd-memtest/driver
c++/scan/scan
c++/ranges/ranges
c++/scan/tbb
test.x
